Repository JisooPyo/KP3C-backoffice-project, pull requests merged in 2023-07, with the labels that each got.

#23 카카오 소셜 로그인 구현
  src/main/java/com/example/kp3coutsourcingproject/config/RestTemplateConfig.java
  src/main/java/com/example/kp3coutsourcingproject/sociallogin/dto/KakaoUserInfoDto.java
  src/main/java/com/example/kp3coutsourcingproject/sociallogin/service/KakaoService.java
  src/main/java/com/example/kp3coutsourcingproject/user/controller/UserController.java
Labels: enhancement, kakao

#29 [Feature] 사용자 팔로우 기능 구현
  src/main/java/com/example/kp3coutsourcingproject/user/controller/UserController.java
  src/main/java/com/example/kp3coutsourcingproject/user/dto/ProfileDto.java
  src/main/java/com/example/kp3coutsourcingproject/user/entity/Follow.java
  src/main/java/com/example/kp3coutsourcingproject/user/entity/User.java
  src/main/java/com/example/kp3coutsourcingproject/user/repository/FollowRepository.java
  src/main/java/com/example/kp3coutsourcingproject/user/service/UserService.java
Labels: enhancement

#33 Admin 빌드 오류 해결
  src/main/java/com/example/kp3coutsourcingproject/admin/controller/AdminController.java
  src/main/java/com/example/kp3coutsourcingproject/admin/dto/AdminCommentResponseDto.java
  src/main/java/com/example/kp3coutsourcingproject/admin/dto/AdminPostResponseDto.java
  src/main/java/com/example/kp3coutsourcingproject/admin/dto/AdminUserResponseDto.java
  src/main/java/com/example/kp3coutsourcingproject/admin/entity/Notice.java
Labels: fix

#42 [Refactor] 사용자 팔로우 기능 리팩토링
  src/main/java/com/example/kp3coutsourcingproject/KP3COutsourcingProjectApplication.java
  src/main/java/com/example/kp3coutsourcingproject/config/JpaConfig.java
  src/main/java/com/example/kp3coutsourcingproject/config/RestTemplateConfig.java
  src/main/java/com/example/kp3coutsourcingproject/sociallogin/service/KakaoService.java
  src/main/java/com/example/kp3coutsourcingproject/user/controller/FollowController.java
  src/main/java/com/example/kp3coutsourcingproject/user/controller/UserController.java
  src/main/java/com/example/kp3coutsourcingproject/user/dto/FollowResponseDto.java
  src/main/java/com/example/kp3coutsourcingproject/user/dto/FollowUserDto.java
  src/main/java/com/example/kp3coutsourcingproject/user/repository/FollowRepository.java
  src/main/java/com/example/kp3coutsourcingproject/user/service/FollowService.java
  src/main/java/com/example/kp3coutsourcingproject/user/service/UserService.java
  src/test/java/com/example/kp3coutsourcingproject/service/FollowServiceIntegrationTest.java
Labels: enhancement, refactor

#52 [Feature] Redis 도입하기
  build.gradle
  src/main/java/com/example/kp3coutsourcingproject/admin/controller/AdminPostController.java
  src/main/java/com/example/kp3coutsourcingproject/admin/service/AdminPostService.java
  src/main/java/com/example/kp3coutsourcingproject/common/redis/RedisConfig.java
  src/main/java/com/example/kp3coutsourcingproject/common/redis/RedisUtils.java
  src/main/java/com/example/kp3coutsourcingproject/common/security/WebSecurityConfig.java
  src/main/java/com/example/kp3coutsourcingproject/post/repository/PostRepository.java
  src/main/java/com/example/kp3coutsourcingproject/redis/controller/RedisPostController.java
  src/main/java/com/example/kp3coutsourcingproject/redis/dto/RedisPostDto.java
  src/main/java/com/example/kp3coutsourcingproject/redis/entity/RedisPost.java
  src/main/java/com/example/kp3coutsourcingproject/redis/service/RedisPostService.java
  src/test/java/com/example/kp3coutsourcingproject/service/FollowServiceIntegrationTest.java
Labels: Redis

#64 [Feature] 회원 계정 차단/잠금
  src/main/java/com/example/kp3coutsourcingproject/admin/controller/AdminCommentController.java
  src/main/java/com/example/kp3coutsourcingproject/admin/controller/AdminNoticeController.java
  src/main/java/com/example/kp3coutsourcingproject/admin/controller/AdminUserController.java
  src/main/java/com/example/kp3coutsourcingproject/admin/service/AdminCommentService.java
  src/main/java/com/example/kp3coutsourcingproject/admin/service/AdminUserService.java
  src/main/java/com/example/kp3coutsourcingproject/common/exception/GlobalExceptionHandler.java
  src/main/java/com/example/kp3coutsourcingproject/common/jwt/AuthenticationFailureHandlerImpl.java
  src/main/java/com/example/kp3coutsourcingproject/common/jwt/JwtAuthenticationFilter.java
  src/main/java/com/example/kp3coutsourcingproject/common/jwt/JwtAuthorizationFilter.java
  src/main/java/com/example/kp3coutsourcingproject/common/jwt/JwtUtil.java
  src/main/java/com/example/kp3coutsourcingproject/common/redis/RedisUtils.java
  src/main/java/com/example/kp3coutsourcingproject/common/security/UserDetailsImpl.java
  src/main/java/com/example/kp3coutsourcingproject/common/security/WebSecurityConfig.java
  src/main/java/com/example/kp3coutsourcingproject/common/util/AccessUtils.java
  src/main/java/com/example/kp3coutsourcingproject/post/controller/PostController.java
  src/main/java/com/example/kp3coutsourcingproject/post/controller/PostViewController.java
  src/main/java/com/example/kp3coutsourcingproject/user/controller/FollowController.java
  src/main/java/com/example/kp3coutsourcingproject/user/controller/UserController.java
  src/main/java/com/example/kp3coutsourcingproject/user/entity/User.java
  src/main/java/com/example/kp3coutsourcingproject/user/service/UserService.java
Labels: Redis
